@import "variables";
@import "bulma/bulma.sass";
@import "animate.css/animate.min.css";

.input:active, .input:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.125em rgba($primary, 0.25);
}

.h-100 {
  height: 100%;
}

.eye-icon {
  pointer-events: initial !important;
  cursor: pointer;

  &:hover {
    color: hsl(0deg, 0%, 29%) !important;
  }
}
