<template>
  <section class="section">
    <div class="container">
      <router-link :to="{ name: 'home' }">&#10094; Back</router-link>
      <h1 class="is-size-2 mb-3">Account</h1>
      <div class="columns">
        <div class="column is-one-quarter-desktop">
          <div class="box p-5">
            <h2 class="is-size-3 mb-2">Information</h2>
            <table class="table info-table" v-if="user">
              <tbody>
              <tr>
                <th>First name</th>
                <td>{{ user.firstName }}</td>
              </tr>
              <tr>
                <th>Last name</th>
                <td>{{ user.lastName }}</td>
              </tr>
              <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="column is-one-third-desktop">
          <div class="box p-5">
            <h2 class="is-size-3 mb-2">Update credentials</h2>
            <form @submit.prevent="onUpdateCredentials">
              <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                  <input id="username"
                         class="input"
                         :class="{ 'is-danger': errors.username }"
                         type="text"
                         placeholder="Username"
                         v-model="credentialsData.username">
                </div>
                <p v-if="errors.username" class="help is-danger">
                  <template v-if="usernameTaken">
                    Username already taken
                  </template>
                  <template v-else>
                    This field is required
                  </template>
                </p>
              </div>

              <div class="field">
                <label class="label" for="oldPassword">Old password</label>
                <div class="control has-icons-right">
                  <input id="oldPassword"
                         class="input"
                         :class="{ 'is-danger': errors.oldPassword }"
                         :type="showOldPassword ? 'text' : 'password'"
                         placeholder="Old password"
                         v-model="credentialsData.oldPassword">
                  <span class="icon eye-icon is-small is-right" @click="showOldPassword = !showOldPassword">
                    <font-awesome-icon :icon="`fa-solid ${showOldPassword ? 'fa-eye-slash' : 'fa-eye'}`"/>
                  </span>
                </div>
                <p v-if="errors.oldPassword" class="help is-danger">
                  <template v-if="invalidOldPassword">
                    Incorrect old password
                  </template>
                  <template v-else>
                    This field is required
                  </template>
                </p>
              </div>

              <div class="field">
                <label class="label" for="newPassword">New password</label>
                <div class="control has-icons-right">
                  <input id="newPassword"
                         class="input"
                         :class="{ 'is-danger': errors.newPassword }"
                         :type="showNewPassword ? 'text' : 'password'"
                         placeholder="New password"
                         v-model="credentialsData.newPassword">
                  <span class="icon eye-icon is-small is-right" @click="showNewPassword = !showNewPassword">
                    <font-awesome-icon :icon="`fa-solid ${showNewPassword ? 'fa-eye-slash' : 'fa-eye'}`"/>
                  </span>
                </div>
                <p v-if="errors.newPassword" class="help is-danger">
                  <template v-if="invalidNewPassword">
                    New password does not meet the password requirements
                  </template>
                  <template>
                    This field is required
                  </template>
                </p>
              </div>

              <div class="field">
                <div class="control">
                  <input class="button is-primary is-fullwidth" type="submit" value="Save">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="column">
          <div class="box p-5 h-100">
            <progress-steps class="h-100" :steps="[
                'Entering credentials',
                'Encoding passwords',
                'Fetching salt',
                'Hashing old password',
                'Encrypting old password hash',
                'Generating new salt',
                'Creating zk-SNARK proof and encryption of new password',
                'Sending proof and ciphertexts',
                'Verifying proof and ciphertexts',
                'Done'
            ]" :current-step="currentStep" style="min-height: 300px;"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <LoadingState v-if="loading" :done="loadingDone"></LoadingState>
</template>

<script>
import { toast } from 'bulma-toast';
import { axios } from '@/services/http';
import { generateSalt } from '@/util';
import ProgressSteps from '@/components/ProgressSteps.vue';
import LoadingState from '@/components/LoadingState.vue';
import saverPk from '/public/circuit/saver_pk.json';
import { mimc7 } from '@/services/hash';
import { passwordEncodingFunction, passwordEncodingBase } from '@/config';

export default {
  name: 'Account',
  components: { ProgressSteps, LoadingState },
  data() {
    return {
      user: null,
      credentialsData: {
        username: '',
        oldPassword: '',
        newPassword: ''
      },
      errors: {
        username: false,
        oldPassword: false,
        newPassword: false
      },
      loading: false,
      loadingDone: false,
      invalidOldPassword: false,
      invalidNewPassword: false,
      usernameTaken: false,
      currentStep: 0,
      showOldPassword: false,
      showNewPassword: false
    }
  },
  methods: {
    async onUpdateCredentials() {
      if (!this.validate()) {
        toast({
          message: 'Please fill in all fields',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.loading = true;

      this.currentStep++;
      const encodedOldPassword = schnapsjs.util.encodePassword(this.credentialsData.oldPassword, passwordEncodingFunction, passwordEncodingBase)
      const encodedNewPassword = schnapsjs.util.encodePassword(this.credentialsData.newPassword, passwordEncodingFunction, passwordEncodingBase)
      this.currentStep++;
      const salt = BigInt((await axios.get(`/auth/salt/${this.user.username}`)).data.salt); // Assume no error
      this.currentStep++;
      const oldPasswordHash = mimc7(encodedOldPassword, BigInt(salt));
      this.currentStep++;

      let oldPasswordEncryption;
      try {
        oldPasswordEncryption = await schnapsjs.login.createEncryption(
            saverPk,
            oldPasswordHash
        );
      } catch (e) {
        this.currentStep = 0;
        this.loading = false;
        toast({
          message: 'Cannot construct old password proof',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.currentStep++;
      const newSalt = generateSalt();
      this.currentStep++;

      let newPasswordProof;
      try {
        newPasswordProof = await schnapsjs.register.createProof(
            { salt: newSalt, password: encodedNewPassword },
            'circuit/circuit.wasm',
            'circuit/proving_key.zkey',
            saverPk
        )
      } catch (e) {
        this.currentStep = 0;
        this.loading = false;
        this.errors.password = true;
        this.invalidPassword = true;
        toast({
          message: 'Invalid new password',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.currentStep++;

      try {
        const response = await (() => {
          const promise = axios.put('/auth/credentials', {
            username: this.credentialsData.username,
            oldPasswordEncryption,
            newPasswordProof
          });
          this.currentStep++;
          return promise;
        })();

        this.currentStep++;
        this.credentialsData = {
          username: response.data.username,
          oldPassword: '',
          newPassword: ''
        };
        this.user.username = response.data.username;
        this.loadingDone = true;
        setTimeout(() => {
          this.currentStep = 0;
          this.loading = false;
          this.loadingDone = false;
        }, 1500);
      } catch (error) {
        let message = 'An unknown error occurred';
        if (error.response) {
          if (error.response.status === 401) {
            message = 'Invalid new password';
            this.errors.newPassword = true;
            this.invalidNewPassword = true;
          } else if (error.response.status === 403) {
            message = 'Invalid old password';
            this.errors.oldPassword = true;
            this.invalidOldPassword = true;
          } else if (error.response.status === 409) {
            message = 'Username already taken';
            this.errors.username = true;
            this.usernameTaken = true;
          }
        }
        this.currentStep = 0;
        this.loading = false;
        toast({
          message,
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }
    },
    validate() {
      this.resetErrors();
      let valid = true;

      for (const field in this.credentialsData) {
        if (this.credentialsData.hasOwnProperty(field) && !this.credentialsData[field]) {
          this.errors[field] = true;
          valid = false;
        }
      }

      return valid;
    },
    resetErrors() {
      for (const prop in this.errors) {
        if (this.errors.hasOwnProperty(prop)) {
          this.errors[prop] = false;
        }
      }

      this.invalidOldPassword = false;
      this.invalidNewPassword = false;
      this.usernameTaken = false;
    }
  },
  created() {
    // Normally we can fetch the user once and store it for multiple uses
    // But for now we fetch it everytime
    axios.get('/me').then(res => {
      this.user = res.data;
      this.credentialsData.username = this.user.username;
    });
  }
}
</script>

<style lang="scss" scoped>
.info-table tr {
  *:first-child {
    padding-left: 0;
  }

  *:last-child {
    padding-right: 0;
  }

  td, th {
    border: 0;
  }
}
</style>
