<template>
  <section class="section" v-if="user">
    <div class="container">
      <div class="columns reverse-columns">
        <div class="column">
          <h1 class="is-size-2">Welcome, {{ user.firstName }} {{ user.lastName }}!</h1>
          <h2 class="is-size-3">You are logged in!</h2>
        </div>
        <div class="column has-text-right">
          <router-link :to="{ name: 'account' }" class="button is-primary mr-2">Account</router-link>
          <button class="button is-primary is-outlined" @click="logout">Logout</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { axios, logout as httpLogout } from '@/services/http';

export default {
  name: 'Home',
  data() {
    return {
      user: null
    }
  },
  methods: {
    logout() {
      httpLogout();
    }
  },
  created() {
    axios.get('/me').then(res => {
      this.user = res.data;
    });
  }
}
</script>

<style scoped>
@media(max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
</style>
