<template>
  <section class="section mt-6">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths-desktop">
          <div class="box p-5">
            <h1 class="is-size-2 mb-2">Login</h1>
            <p class="has-text-grey mb-4">
              <span class="icon-text">
                <span class="icon">
                  <font-awesome-icon icon="fa-solid fa-shield-halved"/>
                </span>
              </span>
              The zk-SCHNAPS protocol is used to ensure confidentiality of your password
            </p>
            <form @submit.prevent="onLogin">
              <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                  <input id="username"
                         class="input"
                         :class="{ 'is-danger': errors.username }"
                         type="text"
                         placeholder="Username"
                         v-model="loginData.username">
                </div>
                <p v-if="errors.username" class="help is-danger">
                  This field is required
                </p>
              </div>

              <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control has-icons-right">
                  <input id="password"
                         class="input"
                         :class="{ 'is-danger': errors.password }"
                         :type="showPassword ? 'text' : 'password'"
                         placeholder="Password"
                         v-model="loginData.password">
                  <span class="icon eye-icon is-small is-right" @click="showPassword = !showPassword">
                    <font-awesome-icon :icon="`fa-solid ${showPassword ? 'fa-eye-slash' : 'fa-eye'}`"/>
                  </span>
                </div>
                <p v-if="errors.password" class="help is-danger">
                  This field is required
                </p>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <input class="button is-primary" type="submit" value="Login">
                </div>
                <div class="control">
                  <router-link :to="{ name: 'register' }" class="button is-primary is-outlined">Register</router-link>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="column is-one-third-desktop">
          <div class="box p-5 h-100">
            <progress-steps class="h-100" :steps="[
                'Entering credentials',
                'Fetching salt',
                'Encoding password',
                'Hashing password',
                'Encrypting password hash',
                'Sending encryption',
                'Verifying and comparing ciphertext',
                'Done'
            ]" :current-step="currentStep" style="min-height: /*300px;*/ 250px;"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <LoadingState v-if="loading" :done="loadingDone"></LoadingState>
</template>

<script>
import { toast } from 'bulma-toast';
import ProgressSteps from '@/components/ProgressSteps.vue';
import LoadingState from '@/components/LoadingState.vue';
import { axios, afterLogin } from '@/services/http';
import saverPk from '/public/circuit/saver_pk.json';
import { mimc7 } from '@/services/hash';
import { passwordEncodingFunction, passwordEncodingBase } from '@/config';

export default {
  name: 'Login',
  components: { ProgressSteps, LoadingState },
  data() {
    return {
      loginData: {
        username: '',
        password: ''
      },
      errors: {
        username: false,
        password: false
      },
      loading: false,
      loadingDone: false,
      currentStep: 0,
      showPassword: false
    }
  },
  methods: {
    async onLogin() {
      if (!this.validate()) {
        toast({
          message: 'Please fill in your username and password',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.loading = true;

      this.currentStep++;
      const salt = BigInt((await axios.get(`/auth/salt/${this.loginData.username}`)).data.salt); // Assume no error
      this.currentStep++;
      const encodedPassword = schnapsjs.util.encodePassword(this.loginData.password, passwordEncodingFunction, passwordEncodingBase);
      this.currentStep++;
      const passwordHash = mimc7(encodedPassword, BigInt(salt));
      this.currentStep++;

      let passwordEncryption;
      try {
        passwordEncryption = await schnapsjs.login.createEncryption(
            saverPk,
            passwordHash
        );
      } catch (e) {
        this.currentStep = 0;
        this.loading = false;
        toast({
          message: 'Cannot construct proof',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.currentStep++;

      try {
        const response = await (() => {
          const promise = axios.post('/auth/login', {
            username: this.loginData.username,
            passwordEncryption
          });
          this.currentStep++;
          return promise;
        })();

        this.currentStep++;
        const token = response.data.token;
        afterLogin(token);
        this.loadingDone = true;
        setTimeout(() => {
          this.$router.push({ name: 'home' });
        }, 1500);
      } catch (error) {
        this.currentStep = 0;
        this.loading = false;
        console.log(error);
        toast({
          message: error.response.data.message,
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }
    },
    validate() {
      this.resetErrors();
      let valid = true;

      for (const field in this.loginData) {
        if (this.loginData.hasOwnProperty(field) && !this.loginData[field]) {
          this.errors[field] = true;
          valid = false;
        }
      }

      return valid;
    },
    resetErrors() {
      for (const prop in this.errors) {
        if (this.errors.hasOwnProperty(prop)) {
          this.errors[prop] = false;
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
