<template>
  <section class="section mt-6">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths-desktop">
          <div class="box p-5">
            <h1 class="is-size-2 mb-2">Register</h1>
            <p class="has-text-grey mb-4">
              <span class="icon-text">
                <span class="icon">
                  <font-awesome-icon icon="fa-solid fa-shield-halved"/>
                </span>
              </span>
              The zk-SCHNAPS protocol is used to ensure confidentiality of your password
            </p>
            <form @submit.prevent="onRegister">
              <div class="field">
                <label class="label" for="firstname">First name</label>
                <div class="control">
                  <input id="firstname"
                         class="input"
                         :class="{ 'is-danger': errors.firstName }"
                         type="text"
                         placeholder="John"
                         v-model="registerData.firstName">
                </div>
                <p v-if="errors.firstName" class="help is-danger">
                  This field is required
                </p>
              </div>

              <div class="field">
                <label class="label" for="lastname">Last name</label>
                <div class="control">
                  <input id="lastname"
                         class="input"
                         :class="{ 'is-danger': errors.lastName }"
                         type="text"
                         placeholder="Doe"
                         v-model="registerData.lastName">
                </div>
                <p v-if="errors.lastName" class="help is-danger">
                  This field is required
                </p>
              </div>

              <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                  <input id="username"
                         class="input"
                         :class="{ 'is-danger': errors.username }"
                         type="text"
                         placeholder="JDoe"
                         v-model="registerData.username">
                </div>
                <p v-if="errors.username" class="help is-danger">
                  <template v-if="usernameTaken">
                    Username already taken
                  </template>
                  <template v-else>
                    This field is required
                  </template>
                </p>
              </div>

              <div class="field">
                <label class="label" for="password">Password</label>
                <div class="control has-icons-right">
                  <input id="password"
                         class="input"
                         :class="{ 'is-danger': errors.password }"
                         :type="showPassword ? 'text' : 'password'"
                         placeholder="Password"
                         v-model="registerData.password">
                  <span class="icon eye-icon is-small is-right" @click="showPassword = !showPassword">
                    <font-awesome-icon :icon="`fa-solid ${showPassword ? 'fa-eye-slash' : 'fa-eye'}`"/>
                  </span>
                </div>
                <p v-if="errors.password" class="help is-danger">
                  <template v-if="invalidPassword">
                    Password does not meet the password requirements
                  </template>
                  <template v-else>
                    This field is required
                  </template>
                </p>
                <div class="help pointer mt-3" @click="showPasswordPolicies = !showPasswordPolicies">
                  Password policies:
                  <ul class="password-policies">
                    <li>Minimal 8 characters</li>
                    <li>Minimal 1 lowercase, 1 uppercase, 1 digit and 1 symbol</li>
                    <li>Must not contain 'password' and '123'</li>
                    <li>Must not be a common password</li>
                  </ul>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <input class="button is-primary" type="submit" value="Register">
                </div>
                <div class="control">
                  <router-link :to="{ name: 'login' }" class="button is-primary is-outlined">Back to login</router-link>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="column is-one-third-desktop">
          <div class="box p-5 h-100">
            <progress-steps class="h-100" :steps="[
                'Entering credentials',
                'Generating salt',
                'Encoding password',
                'Creating zk-SNARK proof and encryption',
                'Sending proof and ciphertext',
                'Verifying proof and ciphertext',
                'Done'
            ]" :current-step="currentStep" style="min-height: 400px;"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <LoadingState v-if="loading" :done="loadingDone"></LoadingState>
</template>

<script>
import { toast } from 'bulma-toast';
import { axios, afterLogin } from '@/services/http';
import ProgressSteps from '@/components/ProgressSteps.vue';
import LoadingState from '@/components/LoadingState.vue';
import saverPk from '/public/circuit/saver_pk.json';
import { passwordEncodingFunction, passwordEncodingBase } from '@/config';

export default {
  name: 'Register',
  components: { ProgressSteps, LoadingState },
  data() {
    return {
      registerData: {
        firstName: '',
        lastName: '',
        username: '',
        password: ''
      },
      errors: {
        firstName: false,
        lastName: false,
        username: false,
        password: false
      },
      invalidPassword: false,
      usernameTaken: false,
      loading: false,
      loadingDone: false,
      currentStep: 0,
      showPassword: false
    }
  },
  methods: {
    async onRegister() {
      if (!this.validate()) {
        toast({
          message: 'Please fill in all fields',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.loading = true;

      this.currentStep++;
      const salt = schnapsjs.util.generateRandomSalt();
      this.currentStep++;
      const encodedPassword = schnapsjs.util.encodePassword(this.registerData.password, passwordEncodingFunction, passwordEncodingBase);
      this.currentStep++;

      let proof;
      try {
        proof = await schnapsjs.register.createProof(
            { salt, password: encodedPassword },
            'circuit/circuit.wasm',
            'circuit/proving_key.zkey',
            saverPk
        )
      } catch (e) {
        this.currentStep = 0;
        this.loading = false;
        this.errors.password = true;
        this.invalidPassword = true;
        toast({
          message: 'Invalid password',
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        return;
      }

      this.currentStep++;

      try {
        const response = await (() => {
          const promise = axios.post('/auth/register', {
            firstName: this.registerData.firstName,
            lastName: this.registerData.lastName,
            username: this.registerData.username,
            passwordProof: proof
          });

          this.currentStep++;
          return promise;
        })();

        this.currentStep++;
        const token = response.data.token;
        afterLogin(token);
        this.loadingDone = true;
        setTimeout(() => {
          this.$router.push({ name: 'home' });
        }, 1500);
      } catch (error) {
        console.log(error);
        let message = 'An unknown error occurred';
        if (error.response) {
          if (error.response.status === 401) {
            message = 'Invalid password';
            this.errors.password = true;
            this.invalidPassword = true;
          } else if (error.response.status === 409) {
            message = 'Username already taken';
            this.errors.username = true;
            this.usernameTaken = true;
          }
        }
        this.currentStep = 0;
        this.loading = false;
        toast({
          message,
          type: 'is-danger',
          duration: 3000,
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }
    },
    validate() {
      this.resetErrors();
      let valid = true;

      for (const field in this.registerData) {
        if (this.registerData.hasOwnProperty(field) && !this.registerData[field]) {
          this.errors[field] = true;
          valid = false;
        }
      }

      return valid;
    },
    resetErrors() {
      for (const prop in this.errors) {
        if (this.errors.hasOwnProperty(prop)) {
          this.errors[prop] = false;
        }
      }
      this.invalidPassword = false;
      this.usernameTaken = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.password-policies {
  list-style: initial;
  padding-left: 1rem;
}
</style>
