<template>
  <div class="overlay">
    <div class="is-flex is-justify-content-center is-align-items-center" style="height: 100%">
      <div class="circle-loader" :class="{ 'load-complete': done }">
        <div class="checkmark draw" :style="[done ? 'display: block;' : 'display: none;']"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoadingState',
  props: {
    done: {
      type: Boolean,
      required: false,
      default: () => false
    }
  }
}
</script>

<style lang="scss" scoped>
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

// Adapted from https://codepen.io/scottloway/pen/zqoLyQ
$loader-size: 8rem;
$loader-thickness: 4px;
$check-height: calc($loader-size / 2);
$check-width: calc($check-height / 2);
$check-left: calc($loader-size / 6 + $loader-size / 12);
$check-thickness: 5px;
$check-color: $primary;

.circle-loader {
  margin-bottom: calc($loader-size / 2);
  border: $loader-thickness solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;

  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}
</style>
