<template>
  <ul class="progress-bar">
    <li v-for="(step, index) in steps" :key="index" :class="{ 'stop': index === this.currentStep }">
      <span class="progress-text">
        {{ step }}
      </span>
    </li>
  </ul>
</template>

<script>
export default {
  name: "ProgressSteps",
  props: {
    steps: {
      type: Array,
      required: true
    },
    currentStep: {
      type: Number,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.progress-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    background: #777;
    width: 5px;
    height: 100vh;
  }

  & li {
    background: $primary;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    z-index: 1;
    position: relative;

    &.stop ~ li {
      background: #777;

      &::after {
        height: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5px;
      background: $primary;
      width: 5px;
      height: 100vh;
    }

    & .progress-text {
      position: absolute;
      left: 25px;
      top: -5px;
      width: 500px;
    }
  }
}
</style>
